.todoForm {
  background-color: #8cb27f;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}
.modernInput {
  display: block;
  width: 100%;
  border: none;
  color: #1f1c17;
  font-size: 16px;
  background-color: #8cb27f;
}
.modernInput:focus {
  outline: none;
}
.modernButton {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #55725d;
  padding: 12px 20px;
  color: #e8e6ea;
  cursor: pointer;
  font-weight: bold;
  width: 120px;
}
.inputContainer {
  display: flex;
}
